### Laravel 8 specific
node_modules/
public/build
public/css
public/hot
public/js
public/mix-manifest.json
public/storage
storage/*.key
vendor/
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

### IDE configuration ###
.idea
.vscode
